@import '~antd/dist/antd.css';
.o-home-content {

}
.adressButton{
  margin: 20px;
  color: #0E66FF;
  border-color: #0E66FF;
  background-color: #ffffff;
}
.zhuangtai{
  color: #0E66FF;
  border-color: #0E66FF;

}
.zhuangtai01{
  color: #000c17;
}
.ziti{
  text-align: center;
}
.data-t-day{
  width: 315px;
}

.ant-modal-footer {
  text-align: center;
}
.forbidColor {
  background-color: #A5A5A5;
}